* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    gap: 50px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    gap: 25px;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 5px;
}

#buttons button {
    width: 75px;
}

#container {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px ;
}


#container div {
    width: auto;
    height: auto;
    border: 1px solid #000;
    flex: 0 0 calc(100% / 16);
}