* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    gap: 50px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    gap: 25px;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 5px;
}

#buttons button {
    width: 75px;
}

#container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;  
    width: 400px;
    height: 400px;
}


#container div {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#container div div {
    flex-grow: 1;
    border: 1px solid black;
    cursor: crosshair;
}